# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
<ul>
    <li> To list popular languages for Data Science </li>
    <li> To list popular libraries used by Data Scientists </li>
    <li> To list popular tools used for Data Science </li>
    <li> To overview of basic arithmetic operations in Python </li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
    <li> Python </li>
    <li> R </li>
    <li> Julia </li>
    <li> Scala </li>
    <li> SQL </li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li> Numpy </li>
    <li> Pandas </li>
    <li> Matplotlib </li>
    <li> Scrapy </li>
    <li> ggplot </li>
<ol>

<table>
    <tr><th> Data Science Tools <th><tr>
        <tr><td> Jupyter Notebook <td><tr>
        <tr><td> R Studio <td><tr>
        <tr><td> Apache Zepplin <td><tr>
<table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
t_minutes = 200
t_hours = t_minutes/60
t_hours

3.3333333333333335

## Author
Hemant Kumar